<div class="footer" ms-controller="footer ">
    <div class="container">
        <div class="friend_link">
            友情链接：<a href="http://www.iachina.cn/" target="_blank">中国保险行业协会 </a>
            <a href="http://new.crcf.org.cn/" target="_blank">中国红十字基金会</a>
            <a href="http://www.jsjjh.org.cn/" target="_blank">教育部中国教师发展基金会</a>
            <a href="http://www.bnu.edu.cn/" target="_blank">北京师范大学 </a>
            <a href="http://www.china-safety.org.cn/" target="_blank">中国安全生产协会</a>
        </div>
        <p>
            <a href="#natural" target="_blank">关于我们</a>
            <span>|</span>
            <a href="#helpIndex" target="_blank">帮助中心</a>
            <span>|</span>
            <a href="http://www.e-tianrong.com/" target="_blank">技术支持</a>
        </p>
        <div class="copyright">
            中国安全生产协会中小学安全教育工作委员会  Copyright  © 2015  京ICP备12036577号
        </div>
    </div>
</div>
