<div class="footer" ms-controller="footer" id="footer">
    <div class="top">
        <div class="cen">
            <div class="top1">
                <p class="zzfw">
                    <span class="tit">查询服务</span>
                    <span ms-click="bdcx('保单查询')">保单查询</span>
                    <span ms-click="wdcx('3')">网点查询</span>
                    <span ms-click="cxfw('服务承诺')">服务承诺</span>
                    <span ms-click="cxfw('增值服务')">增值服务</span>
                </p>
                <p class="kffw">
                    <span class="tit">客服服务</span>
                    <span ms-click="cxfw('投保须知')">投保须知</span>
                    <span ms-click="cxfw('退保说明')">退保说明</span>
                    <span ms-click="cxfw('理赔须知')">理赔须知</span>
                    <span ms-click="cxfw('保全须知')">保全须知</span>
                </p>
                <p class="bxzs">
                    <span class="tit">保险知识</span>
                    <span ms-click="cxfw('基础知识问答')">基础知识问答</span>
                    <span ms-click="cxfw('人身保险投保提示书')">人身保险投保提示书</span>
                    <span ms-click="cxfw('温馨提示与保险合同目录')">温馨提示与保险合同目录</span>
                </p>
            </div>
            <div class="top2">
                <p>
                    <!--<img src="images/shareImg.png" alt=""/>-->
                    <!--<a href=""><img src="images/home_q.png" alt=""/></a>-->
                    <!--<a href=""><img src="images/home_wx.png" alt=""/></a>-->
                    <a href="https://passport.weibo.com/visitor/visitor?entry=miniblog&a=enter&url=http%3A%2F%2Fweibo.com%2Fu%2F3774125034&
                domain=.weibo.com&sudaref=http%3A%2F%2Fwww.zdlife.com%2F&ua=php-sso_sdk_client-0.6.23&_rand=
                1474948795.8426" target="_blank">
                        <img src="images/home_wb.png" alt=""/>
                    </a>
                </p>
                <p>
                    <img src="images/fuwuhao.jpg" alt=""/>
                    <span>君康人寿官网服务号</span>
                </p>
                <p>
                    <img src="images/dingyuehao.jpg" alt=""/>
                    <span>君康人寿官网订阅号</span>
                </p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="bot">
            <p class="p1">Copyright © June Life Insurance Co., Ltd. All Rights Reserved.</p>
            <p class="p2">京ICP备06063067号</p>
        </div>
    </div>
</div>
