<div id="article" ms-controller="article">
    <ul class="articleList">
        <li class="banner">
            <img src="images/article_banner.png">

        </li>
        <li class="articleBox">
            <div class="contentBox">
                <h3 class="articleTitle">关于保险有时候，偏见比无知更可怕</h3>
                <p><span class="articleTime">2016-01-02</span><span class="articleNum">浏览量:<i>30</i></span></p>
            </div>
            <div class="imgBox">
                <img src="images/Obama.png">
            </div>
        </li>
        <li class="articleBox">
            <div class="contentBox">
                <h3 class="articleTitle">关于保险有时候，偏见比无知更可怕</h3>
                <p><span class="articleTime">2016-01-02</span><span class="articleNum">浏览量:<i>30</i></span></p>
            </div>
            <div class="imgBox">
                <img src="images/Obama.png">
            </div>
        </li>
        <li class="articleBox">
            <div class="contentBox">
                <h3 class="articleTitle">关于保险有时候，偏见比无知更可怕</h3>
                <p><span class="articleTime">2016-01-02</span><span class="articleNum">浏览量:<i>30</i></span></p>
            </div>
            <div class="imgBox">
                <img src="images/Obama.png">
            </div>
        </li>
    </ul>
    <button style="width: 5rem;height: .4rem;background: red;color: #ffffff;" ms-on-click="quit">退出a</button>
    <a href="#!/active">圣诞活动</a>
    <button style="width: 50%;height: 50px;margin:50px auto;background: red;color: #ffffff;font-size: .3rem"
            ms-on-click="share">分享
    </button>
</div>