<div ms-controller="timeline">
    <div class="page-header">
        <h1>
            时间轴
            <small>
                <i class="icon-double-angle-right"></i>
                基于部件框与两种不同的风格
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div id="timeline-2" >
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 ">
                        <div class="timeline-container timeline-style2">
												<span class="timeline-label">
													<b>今天</b>
												</span>

                            <div class="timeline-items">
                                <div class="timeline-item clearfix">
                                    <div class="timeline-info">
                                        <span class="timeline-date">11:15 pm</span>

                                        <i class="timeline-indicator btn btn-info no-hover"></i>
                                    </div>

                                    <div class="widget-box transparent">
                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
																	<span class="bigger-110">
																		<a href="#" class="purple bolder">苏珊</a>
																		一个产品
																	</span>

                                                <br />
                                                <i class="icon-hand-right grey bigger-125"></i>
                                                <a href="#">发表在 &hellip;</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="timeline-item clearfix">
                                    <div class="timeline-info">
                                        <span class="timeline-date">12:30 pm</span>

                                        <i class="timeline-indicator btn btn-info no-hover"></i>
                                    </div>

                                    <div class="widget-box transparent">
                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                将要
                                                <span class="green bolder">蔬菜咖啡馆</span>
                                                作为午饭
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="timeline-item clearfix">
                                    <div class="timeline-info">
                                        <span class="timeline-date">11:15 pm</span>

                                        <i class="timeline-indicator btn btn-info no-hover"></i>
                                    </div>

                                    <div class="widget-box transparent">
                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                设计一个新的标志我们的网站。会喜欢的反馈.
                                                <a href="#">
                                                    点击进入查看
                                                    <i class="icon-zoom-in blue bigger-110"></i>
                                                </a>

                                                <div class="space-2"></div>

                                                <div class="action-buttons">
                                                    <a href="#">
                                                        <i class="icon-heart red bigger-125"></i>
                                                    </a>

                                                    <a href="#">
                                                        <i class="icon-facebook blue bigger-125"></i>
                                                    </a>

                                                    <a href="#">
                                                        <i class="icon-reply light-green bigger-130"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="timeline-item clearfix">
                                    <div class="timeline-info">
                                        <span class="timeline-date">9:00 am</span>

                                        <i class="timeline-indicator btn btn-info no-hover"></i>
                                    </div>

                                    <div class="widget-box transparent">
                                        <div class="widget-body">
                                            <div class="widget-main no-padding"> 期末考试了。唷! </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.timeline-items -->
                        </div><!-- /.timeline-container -->

                        <div class="timeline-container timeline-style2">
												<span class="timeline-label">
													<b>昨天</b>
												</span>

                            <div class="timeline-items">
                                <div class="timeline-item clearfix">
                                    <div class="timeline-info">
                                        <span class="timeline-date">9:00 am</span>

                                        <i class="timeline-indicator btn btn-success no-hover"></i>
                                    </div>

                                    <div class="widget-box transparent">
                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <div class="clearfix">
                                                    <div class="pull-left">
                                                        <span class="orange2 bolder">万圣节 聚会 </span>
                                                        很多在万圣节聚会上玩得很开心
                                                        <br />
                                                        看一看一些图片:
                                                    </div>
                                                    <div class="pull-right">
                                                        <i class="icon-chevron-left blue bigger-110"></i>
                                                        &nbsp;
                                                        <img alt="Image 4" width="36" src="images/thumb-4.jpg" />
                                                        <img alt="Image 3" width="36" src="images/thumb-3.jpg" />
                                                        <img alt="Image 2" width="36" src="images/thumb-2.jpg" />
                                                        <img alt="Image 1" width="36" src="images/thumb-1.jpg" />
                                                        &nbsp;
                                                        <i class="icon-chevron-right blue bigger-110"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="timeline-item clearfix">
                                    <div class="timeline-info">
                                        <span class="timeline-date">9:00 am</span>

                                        <i class="timeline-indicator btn btn-success no-hover"></i>
                                    </div>

                                    <div class="widget-box transparent">
                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                Anim pariatur cliche reprehenderit, enim eiusmod
                                                <span class="pink2 bolder">high life</span>
                                                accusamus terry richardson ad squid &hellip;
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="timeline-item clearfix">
                                    <div class="timeline-info">
                                        <span class="timeline-date">9:00 am</span>

                                        <i class="timeline-indicator btn btn-success no-hover"></i>
                                    </div>

                                    <div class="widget-box transparent">
                                        <div class="widget-body">
                                            <div class="widget-main no-padding"> 去咖啡馆吃午饭 </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="timeline-item clearfix">
                                    <div class="timeline-info">
                                        <span class="timeline-date">9:00 am</span>

                                        <i class="timeline-indicator btn btn-success no-hover"></i>
                                    </div>

                                    <div class="widget-box transparent">
                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <span class="red bolder">重要的安全补丁发布</span>

                                                <br />
                                                请下载新的最大安全补丁。
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.timeline-items -->
                        </div><!-- /.timeline-container -->

                        <div class="timeline-container timeline-style2">
												<span class="timeline-label">
													<b>May 17</b>
												</span>

                            <div class="timeline-items">
                                <div class="timeline-item clearfix">
                                    <div class="timeline-info">
                                        <span class="timeline-date">9:00 am</span>

                                        <i class="timeline-indicator btn btn-grey no-hover"></i>
                                    </div>

                                    <div class="widget-box transparent">
                                        <div class="widget-body">
                                            <div class="widget-main no-padding">
                                                <span class="bolder blue">Lorum Ipsum</span>
                                                Anim pariatur cliche reprehenderit, enim eiusmod
                                                <span class="purple bolder">high life</span>
                                                accusamus terry richardson ad squid &hellip;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.timeline-items -->
                        </div><!-- /.timeline-container -->
                    </div>
                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->