<div ms-controller="common">
    <!--侧边漂浮-->
    <div id="cathetFloat">
        <ul>
            <li>
                <a href="javascript:;" id="qrCode" class="a1" style="position: relative;">
                    二维码
                    <div style="display: block;overflow:hidden;position: absolute;left: -180px;top:0px">
                        <img src="images/ewm.png">
                    </div>
                </a>
            </li>
            <li><a name="tickling" class="a3">反馈</a></li>
            <li><a href="#helpIndex" class="a4">帮助</a></li>
            <li><a id="back-to-top" ms-click="backToTop" class="a2">回顶部</a></li>
        </ul>
    </div>
</div>
