<div id="LPInstruction" ms-controller="LPInstruction">
    <div class="LPIns_de">
        <img class="LPIns_bn" src="images/fun_lpxz_banner.png" alt=""/>
        <div class="LPIns_ct">
            <p class="ct_title">当前位置：<a href="#!/home">首页</a> > <a href="#!/funHall">服务大厅</a> > <a href=""></a>理赔须知</p>
            <div class="ct_con_title">理赔须知</div>
            <div class="ct_con_line">
                <img src="images/compNotice_line.png" alt=""/>
            </div>
            <div class="ct_con">
                <div class="ct_con_p"><i class="p_star">*&nbsp;&nbsp;</i>请您在投保前详细了解该理赔须知及理赔流程</div>
                <div class="ct_con_p">一、 被保险人出险后应在多长时间内报案？<br>根据《保险法》规定，投保人、被保险人或者受益人知道保险事故发生后，应当及时通知保险人；保险合同中也约定投保人、被保险人或者受益人要承担由于通知延迟，致使保险人额外增加的勘查、检验等项费用。<br>因此，为了避免受益人不必要的利益损失，我公司要求，凡是被保险人身故、意外伤害事故出险应在24小时内报案，以便我公司立即进行现场查勘；疾病住院治疗应在入院7日内报案。<br></div>
                <div class="ct_con_p">二、 被保险人出险后应在多长时间内报案？<br>根据《保险法》规定，投保人、被保险人或者受益人知道保险事故发生后，应当及时通知保险人；保险合同中也约定投保人、被保险人或者受益人要承担由于通知延迟，致使保险人额外增加的勘查、检验等项费用。<br>因此，为了避免受益人不必要的利益损失，我公司要求，凡是被保险人身故、意外伤害事故出险应在24小时内报案，以便我公司立即进行现场查勘；疾病住院治疗应在入院7日内报案。<br></div>
                <div class="ct_con_p">三、 被保险人出险后应在多长时间内报案？<br>根据《保险法》规定，投保人、被保险人或者受益人知道保险事故发生后，应当及时通知保险人；保险合同中也约定投保人、被保险人或者受益人要承担由于通知延迟，致使保险人额外增加的勘查、检验等项费用。<br>因此，为了避免受益人不必要的利益损失，我公司要求，凡是被保险人身故、意外伤害事故出险应在24小时内报案，以便我公司立即进行现场查勘；疾病住院治疗应在入院7日内报案。<br></div>
                <div class="ct_con_p">四、理赔服务流程 <br/><img class="top" src="images/lp_flow_01.png" alt=""/><img src="images/lp_flow_04.png" alt=""/><img src="images/lp_flow_02.png" alt=""/><img src="images/lp_flow_04.png" alt=""/><img class="footer" src="images/lp_flow_03.png" alt=""/></div>
                <div class="ct_con_p">五、君康人寿理赔申请书 <br/><a class="dlPDF" href="">人身保险理赔申请书.pdf   >>  下载</a></div>
                <div class="ct_con_p">六、君康人寿理赔委托书 <br/><a class="dlPDF" href="">理赔委托书.pdf  >>  下载</a></div>
                <div class="ct_con_p">七、申请理赔保险金应备资料 <br/>
                    <form>
                        <table>
                            <tr>
                                <td rowspan="2">申请给付<br>项目应备<br>文件名称</td>
                            </tr>
                            <tr>
                                <td colspan="3">死亡给付</td>
                                <td colspan="3">死亡给付</td>
                                <td colspan="3">死亡给付</td>
                                <td colspan="3">死亡给付</td>
                            </tr>
                            <tr>
                                <td>疾病死亡</td>
                                <td>疾病死亡</td>
                                <td>疾病死亡</td>
                                <td>疾病死亡</td>
                                <td>疾病死亡</td>
                                <td>疾病死亡</td>
                                <td>疾病死亡</td>
                                <td>疾病死亡</td>
                                <td>疾病死亡</td>
                                <td>疾病死亡</td>
                                <td>疾病死亡</td>
                                <td>疾病死亡</td>
                            </tr>
                            <tr>
                                <td>理赔申请书</td>
                                <td class="table_icon1">√</td>
                                <td class="table_icon1">√</td>
                                <td class="table_icon1">√</td>
                                <td class="table_icon1">√</td>
                                <td class="table_icon1">√</td>
                                <td class="table_icon1">√</td>
                                <td class="table_icon1">√</td>
                                <td class="table_icon1">√</td>
                                <td class="table_icon1">√</td>
                                <td class="table_icon1">√</td>
                                <td class="table_icon1">√</td>
                            </tr>
                        </table>
                    </form>
                    申请理赔保险金相关事项告知 <br/>
                    1. 以上申请资料如非特别注明，均须提供原件。<br>
                    2. 保险金申请人为：被保险人、受益人、监护人、委托代理人。<br>
                    3. 一般情况下，医疗保险金、残疾保险金和重大疾病保险金，其申请人应为被保险人本人。<br>
                    4. 若被保险人或受益人为未成年人，申请人应为其法定监护人。当申请人为监护人时，需提供该申请人具有合法监护权的证明。<br>
                </div>
                <div class="ct_con_p">
                    八、理赔服务电话一览表
                    <form>
                        <table>
                            <tr>
                                <td colspan="3" class="table_back">理赔服务电话一览表</td>
                            </tr>
                            <tr>
                                <td colspan="2">机构</td>
                                <td>理赔服务电话</td>
                            </tr>
                            <tr>
                                <td colspan="2">总公司</td>
                                <td>1234567890</td>
                            </tr>
                            <tr>
                                <td rowspan="9">黑龙江分公司</td>
                                <td>齐齐哈尔支公司</td>
                                <td>1234567890</td>
                            </tr>
                            <tr>
                                <td>齐齐哈尔支公司</td>
                                <td>1234567890</td>
                            </tr>
                            <tr>
                                <td>齐齐哈尔支公司</td>
                                <td>1234567890</td>
                            </tr>
                            <tr>
                                <td>齐齐哈尔支公司</td>
                                <td>1234567890</td>
                            </tr>
                            <tr>
                                <td>齐齐哈尔支公司</td>
                                <td>1234567890</td>
                            </tr>
                            <tr>
                                <td>齐齐哈尔支公司</td>
                                <td>1234567890</td>
                            </tr>
                            <tr>
                                <td>齐齐哈尔支公司</td>
                                <td>1234567890</td>
                            </tr>
                            <tr>
                                <td>齐齐哈尔支公司</td>
                                <td>1234567890</td>
                            </tr>
                            <tr>
                                <td>齐齐哈尔支公司</td>
                                <td>1234567890</td>
                            </tr>


                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>