<div id="funHall" ms-controller="funHall">
    <div class="funHall_de">
        <img class="funHall_bn" src="images/funHall_banner.png" alt=""/>
        <div class="funHall_ct">
            <p class="ct_title">当前位置：<a href="#!/home">首页</a> > 服务大厅</p>
            <div class="ct_con">
                <a href="#!/myPolicy">
                    <img src="images/fun_bdcx.png" alt=""/>
                    <p>保单查询</p>
                </a>
                <a href="http://vonline.bjca.org.cn/tdmm/v-online/bjca" target="_blank">
                    <img src="images/fun_bdyz.png" alt=""/>
                    <p>保单验真</p>
                </a>
                <a href="http://kdjh.jklife.com/kadanjihuo" target="_blank">
                    <img src="images/fun_kdjh.png" alt=""/>
                    <p>卡单激活</p>
                </a>
                <a href="#!/docDownload">
                    <img src="images/fun_dzxz.png" alt=""/>
                    <p>单证下载</p>
                </a>

                <a href="#!/inquire/理赔须知">
                    <img src="images/fun_lpxz.png" alt=""/>
                    <p>理赔须知</p>
                </a>
                <!--<a href="#!/compNotice">-->
                    <!--<img src="images/fun_lpjdcx.png" alt=""/>-->
                    <!--<p>理赔进度查询</p>-->
                <!--</a>-->
                <a href="#!/aboutUs/3">
                    <img src="images/fun_wdcx.png" alt=""/>
                    <p>网点查询</p>
                </a>
                <a href="#!/interest">
                    <img src="images/fun_llgg.png" alt=""/>
                    <p>利率公告</p>
                </a>
                <a href="#!/inquire/客户服务指南">
                    <img src="images/fun_khfwzn.png" alt=""/>
                    <p>客户服务指南</p>
                </a>
                <!--<a href="">-->
                    <!--<img src="images/home_bdjy.png" alt=""/>-->
                    <!--<p>更多服务</p>-->
                <!--</a>-->
            </div>
        </div>
    </div>
</div>