<div id="inputInfo" ms-controller="inputInfo">
    <div class="productInfo">
        <h3 class="productTitle">产品信息</h3>
        <ul class="Info">
            <li><label>名称</label><span class="text-overflow-1">{{productName}}</span></li>
            <li><label>购买金额</label><span><em>{{order.premiums/100|number(2)}}</em>元</span></li>
            <li class="time">
                <label>起保时间</label>
                <span>
                    <input type="date" class="dateTime" ms-if="effectiveDateFlag == 1" ms-duplex="item.insuranceBeginDate">
                    <a ms-if="effectiveDateFlag == 0">{{item.insuranceBeginDate}}至{{item.insuranceEndDate}}</a>
                </span>
            </li>
            <li><label>保障期间</label><span>{{item.insurancePeriod | getPeriodName}}</span></li>
        </ul>
    </div>
    <div class="productInfo">
        <h3 class="productTitle">购买人信息</h3>
        <ul class="Info">
            <li class="inputInfo">
                <label>常用投保人</label>
                <span>
                    <select ms-duplex="holderRelationId" ms-on-change="changePerson(holderRelationId,'holder')">
                        <option value="-1">请选择</option>
                        <option ms-attr-value="el.id" ms-repeat="getRelationArr" ms-if-loop="el.relationCustomerType == 0">{{el.partyName}}</option>
                    </select>
                </span>
            </li>
            <li class="inputInfo">
                <label>姓名</label>
                <span><input type="text" class="dateTime" placeholder="必填,请输入名字" ms-duplex="holderInfo.holderName"></span>
            </li>
            <li class="inputInfo">
                <label>身份证号</label>
                <span><input type="text" class="dateTime" placeholder="必填,请输入身份证号" ms-duplex="holderInfo.holderCardNo" ms-on-blur="cardNoBlur(holderInfo.holderCardNo,'1')"></span>
            </li>
            <li class="inputInfo">
                <label>所属地区</label>
                <span>
                    <select class="provinceSel" ms-on-change="areaChange(1,2,holderInfo.residentProvince)" ms-duplex="holderInfo.residentProvince">
                        <option ms-attr-value="-1">请选择</option>
                        <option ms-repeat="holderProvinceList" ms-attr-value="el.code">{{el.name}}</option>
                    </select>
                    <select class="citySel" ms-on-change="areaChange(1,3,holderInfo.residentCity)" ms-duplex="holderInfo.residentCity">
                        <option ms-attr-value="-1">请选择</option>
                        <option 　ms-repeat="holderCityList" ms-attr-value="el.code">{{el.name}}</option>
                    </select>
                    <select class="areaSel" ms-duplex="holderInfo.residentAddress">
                        <option ms-attr-value="-1">请选择</option>
                        <option ms-repeat="holderAreaList" ms-attr-value="el.code">{{el.name}}</option>
                    </select>
                </span>
                <</li>
            <li class="inputInfo">
                <label>详细地址</label>
                <span><input type="text" class="dateTime" placeholder="请选择地区" ms-duplex="holderInfo.holderAddress"></span>
            </li>
            <li class="inputInfo">
                <label>邮编</label>
                <span><input type="text" class="dateTime" placeholder="请输入邮编" ms-duplex="holderInfo.holderZip"></span>
            </li>
            <li class="inputInfo">
                <label>手机号</label>
                <span><input type="text" class="dateTime" placeholder="必填,请输入手机号" ms-duplex="holderInfo.holderPhone"></span>
            </li>
            <li class="inputInfo">
                <label>邮箱</label>
                <span><input type="text" class="dateTime" placeholder="请输入邮箱" ms-duplex="holderInfo.holderEmail"></span>
            </li>
        </ul>
    </div>
    <div class="productInfo">
        <h3 class="productTitle">
            <a>被保人信息</a>
            <span ms-if="isSelf == 1" class="applicant">与投保人关系：<em>本人</em></span>
            <span class="applicant" ms-if="isSelf == 0">
                与投保人关系：
                <select ms-duplex="insuredList[0].insuredRelation" class="Relationship ">
                    <option value="0">本人</option>
                    <option value="1">配偶</option>
                    <option value="2">父母</option>
                    <option value="3">子女</option>
                    <option value="99">其他</option>
                </select>
            </span>
        </h3>
        <ul class="Info" ms-if="showAsHiddenStatus">
            <li class="inputInfo">
                <label>常用被保人</label>

                <span>
                    <select ms-duplex="insuredRelationId" ms-on-change="changePerson(insuredRelationId,'insured')">
                        <option value="-1">请选择</option>
                        <option ms-attr-value="el.id" ms-repeat="getRelationArr" ms-if-loop="el.relationCustomerType == 1">{{el.partyName}}</option>
                    </select>
                     <input type="checkbox" ms-duplex-checked="checkedStatus" style="width: 20px;height: 20px;vertical-align: middle;"/><em>是否存为常用被保人</em>
                </span>
            </li>
            <li class="inputInfo">
                <label>姓名</label>
                <span><input type="text" class="dateTime" placeholder="必填,请输入名字" ms-duplex="insuredList[0].insuredName"></span>
            </li>

            <li class="inputInfo">
                <label>身份证号</label>
                <span>
                    <input type="text" class="dateTime" placeholder="必填,请输入身份证号" ms-duplex="insuredList[0].insuredCardNo" ms-on-blur="cardNoBlur(insuredList[0].insuredCardNo,'2')">
                </span>
            </li>
            <li class="inputInfo">
                <label>所属地区</label>
                    <span>
                       <select class="provinceSel" name="province" ms-on-change="areaChange(0,2,insuredList[0].residentProvince)" ms-duplex="insuredList[0].residentProvince">
                           <option ms-attr-value="-1">请选择</option>
                           <option ms-repeat="insuredProvinceList" ms-attr-value="el.code">{{el.name}}</option>
                       </select>
                    <select class="citySel" name="city" ms-on-change="areaChange(0,3,insuredList[0].residentCity)" ms-duplex="insuredList[0].residentCity">
                        <option ms-attr-value="-1">请选择</option>
                        <option ms-repeat="insuredCityList" ms-attr-value="el.code">{{el.name}}</option>
                    </select>

                    <select class="areaSel" name="area" ms-duplex="insuredList[0].residentAddress">
                        <option ms-attr-value="-1">请选择</option>
                        <option ms-repeat="insuredAreaList" ms-attr-value="el.code">{{el.name}}</option>
                    </select>
                    </span>
            </li>
            <li class="inputInfo">
                <label>详细地址</label>
                <span><input type="text" class="dateTime" placeholder="请选择地区" ms-duplex="insuredList[0].insuredAddress"></span>
                </li>
            <li class="inputInfo">
                <label>邮编</label>
                <span><input type="text" class="dateTime" placeholder="请输入邮编" ms-duplex="insuredList[0].insuredZip"></span>
            </li>
            <li class="inputInfo">
                <label>手机号</label>
                <span><input type="text" class="dateTime" placeholder="必填,请输入手机号" ms-duplex="insuredList[0].insuredPhone"></span>
            </li>
            <li class="inputInfo">
                <label>邮箱</label>
                <span><input type="text" class="dateTime" placeholder="请输入邮箱" ms-duplex="insuredList[0].insuredEmail"></span>
            </li>
        </ul>
    </div>
    <!--<div class="terms ">-->
        <!--<i></i>-->
        <!--<p>本人充分已阅读并同意<a>《投保须知》</a>和<a>《产品条款》</a></p>-->
    <!--</div>-->
    <div class="boxLine"></div>
    <div class="buyBtn">
        <span class="price">￥{{order.premiums/100|number(2)}}</span>

        <button class="Buy" ms-click="submitInfo">下一步</button>
    </div>
</div>