<div id="customer" ms-controller="customer">
    <div class="concentBox">
        <p>1、 银行账户须以您本人的真实姓名开立，并自愿授权君康人寿保险股份有限公司（以下简称本公司）使用指定银行账户（以下简称授权账户）用于保险款项转账收付； </p>

        <p>2、 如果因授权账户错误、账户注销或授权账户不符合本公司对授权账户要求而导致转账不成功，本公司无须承担由此引起的责任；</p>

        <p>3、 如果申请事项存在退费，我司可能向该授权账户划入相关款项。请妥善保管您提供的账户，因账户管理问题产生的损失，将由您自行承担；</p>

        <p>4、 本公司不对该授权账户的失窃或冒领承担责任；</p>

        <p>5、 如果您申请的变更项目中，存在部分或全部申请项目不符合法律规定或者保险合同约定，则该部分或全部申请项目无效；</p>

        <p>6、 本公司按规定进行客户退费回访工作，一般通过电话形式进行，为确保您的权益得到保障，请对回访问题如实答复；</p>

        <p>7、 如您持有的是网络销售的保单，自本公司同意整单犹豫期撤销、退保之日起，保单效力即时终止；保单保障期满并向客户支付满期金后，保单效力即时终止。</p>
    </div>
</div>