* {
  margin: 0;
  padding: 0;
}

#home {
  header {
    width: 100%;
    .topFormet {
      width: 96%;
      height: 1.5rem;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    .qsndyr {
      width: 100%;
      height: 1.5rem;
      img {
        width: 100%;
      }
    }
  }
  .content {
    width: 100%;
    .themeImg {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .schoolMenu {
      width: 93%;
      margin: 0 auto;
      padding: 1rem 0;
      div {
        display: inline-block;
        width: 31%;
        text-align: center;
        color: #000;
        span {
          display: inline-block;
          width: 50%;
          img {
            width: 100%;
          }
        }
        .textInfo {
          width: 100%;
          font-size: 0.8rem;
        }
      }
      .primary {
        color: #a0df77;
      }
    }
  }
  img {
    width: 100%;
  }
  ul {
    width: 100%;
    padding-bottom: 3rem;
    li {
      list-style: none;
      width: 100%;
      border-bottom: 1px solid #DDDDDD;
      .courseName {
        color: #000000;
        font-size: 0.6rem;
        padding: 0 0 0 0.8rem;
      }
      .showImg {
        padding: 0.8rem;
        position: relative;
        img {
          width: 100%;
        }
      }
      .leftText {
        display: inline-block;
        width: 70%;
        vertical-align: middle;
        .botTitle {
          width: 100%;
          padding: 0.2rem 0 0.4rem 0;
          .tipLabel {
            display: inline-block;
            width: 6%;
            vertical-align: middle;
            padding-left: 0.8rem;
            img {
              width: 100%;
            }
          }
          .marPad {
            font-size: 0.8rem;
            display: inline-block;
            vertical-align: middle;
            margin-left: 0.3rem;
          }
        }
      }
      .test {
        display: inline-block;
        width: 25%;
        vertical-align: middle;
        span {
          width: 100%;
          height: 1.5rem;
          line-height: 1.5rem;
          text-align: center;
          background: #1c98e7;
          font-size: 0.6rem;
          a {
            color: #ffffff;
          }
        }
      }
    }
  }
  .primaryCourse {
    display: block;
  }
  .juniorCourse {
    display: none;
  }
  .highCourse {
    display: none;
  }
  .footer {
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 0;
    background: #f6f2f1;
    border-top: 1px solid #cdcdcd;
    .menu {
      width: 90%;
      margin: 0 auto;
      div {
        display: inline-block;
        width: 31%;
        text-align: center;
        padding: 0.5rem 0;
        span {
          display: inline-block;
          width: 0.8rem;
          height: 0.8rem;
          img {
            height: 100%;
          }
        }
        .textInfo {
          width: 100%;
          font-size: 0.6rem;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 3rem;
  position: fixed;
  bottom: 0;
  background: #f6f2f1;
  border-top: 1px solid #cdcdcd;
  .menu {
    width: 90%;
    margin: 0 auto;
    div {
      display: inline-block;
      width: 31%;
      text-align: center;
      padding: 0.2rem 0;
      span {
        display: inline-block;
        width: 1.4rem;
        height: 1.4rem;
        img {
          height: 100%;
        }
      }
      .textInfo {
        width: 100%;
        font-size: 0.6rem;
        color:#000;
      }
      .colorBottom{
        color:#33cc93;
      }
    }
  }
}
