#lcList {
  height: 100%;
  background-color: #ebebeb;
  .banner {
    min-height: 1.8rem;
    background: url("../images/licai_list_banner.png") no-repeat;
    background-size: 100% 100%;
  }
  .list {
    ul {
      li {
        &:last-child {
          margin-bottom: 0;
        }
        background-color: #fff;
        padding: .45rem .85rem;
        margin-bottom: .2rem;
        .pro_title {
          background: url("../images/arrow_white.png") right 35% no-repeat;
          border-bottom: 1px solid #eee;
          margin-bottom: .4rem;
          .title {
            font-size: .3rem;
            margin-bottom: .23rem;
          }
          .intro {
            font-size: .22rem;
            margin-bottom: .27rem;
            color: #6d665d;
          }
        }
        .income_area, .price_area {
          float: left;
          width: 49%;
          color: #acacac;
          font-size: .2rem;
        }
        .line {
          float: left;
          height: .6rem;
          margin-top: .3rem;
          border-left: 1px solid #eee;
        }
        .income_area {
          .income {
            margin-bottom: .15rem;
            color: #eb0218;
            span {
              font-size: .45rem;

            }
          }
        }
        .price_area {
          margin-top: .1rem;
          padding-left: .8rem;
          p {
            span {
              font-size: .24rem;
              i {
                font-style: normal;
              }
            }
            &.price {
              margin-bottom: .32rem;
              span {
                color: #ff6817;
              }
            }
          }
        }
        .clear {
          clear: both;
        }
      }
      .getMore {
        text-align: center;
        padding: .2rem 0;
        background: #f05f46;
        color: #fff;
        font-size: .3rem;
      }
    }
    .bottomLine{
      padding: .5rem 0;
      text-align: center;
      color: #f05f46;
      font-size: .36rem;
      .line{
        vertical-align: middle;
        display: inline-block;
        width: 25%;
        border-bottom: 2px solid #f05f46;
      }
    }
  }
}

#lcProDetail {
  background: #f5f5f5;
  min-height: 100%;
  padding: 0 0 1.48rem 0;
  position: relative;
  .summary {
    background: #ffffff;
    width: 100%;
    .pro_name {
      text-align: center;
      font-size: .3rem;
      padding: .7rem 0 .4rem;
      font-weight: bolder;
    }
    .pro_rate {
      text-align: center;
      color: #eb0218;
      font-size: .6rem;
      .percent {
        font-size: .3rem;
      }
    }
    .pro_history {
      text-align: center;
      font-size: .22rem;
      color: #acacac;
      padding: .4rem 0 .7rem;
    }
  }
  .element {
    background: #ffffff;
    width: 100%;
    font-size: .28rem;
    color: #707070;
    .el_li {
      padding: .36rem .4rem;
      border-bottom: 1px solid #e5e5e5;
      &:first-child {
        border-top: 1px solid #e5e5e5;
      }
      .el_li_left {
        display: inline-block;
        width: 40%;
        position: relative;
        .text_hint {
          position: absolute;
          bottom: 0;
          left: 0;
          font-size: .18rem;
          color: #b6b6b6;
        }
      }
      .el_li_right {
        float: right;
        width: 50%;
        text-align: right;

      }
      .text_color{
        color: #ed8a46;
      }
      .add_subtract {
        width: 2.87rem;
        height: .62rem;
        position: relative;
        .subtract {
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          width: .62rem;
          height: .62rem;
          background: url('../images/subtract_ico.png') no-repeat;
          background-size: cover;
        }
        input {
          position: absolute;
          top: 0;
          left: .62rem;
          width: 1.6rem;
          height: .62rem;
          border: 0;
          text-align: center;
          font-size: .3rem;
          outline: none;
        }
        .add {
          position: absolute;
          top: 0;
          right: 0;
          display: inline-block;
          width: .62rem;
          height: .62rem;
          background: url('../images/add_ico.png') no-repeat;
          background-size: cover;
        }
      }
    }
  }
  .detail {
    margin: .3rem 0 0 0;
    padding: .35rem;
    background-color: #ffffff;
    font-size: .28rem;
    color: #f05f46;
    .text {
      background: url('../images/right_jtIco.png') no-repeat 100% 100%;
      background-size: .2rem;
      .hint_border {
        display: inline-block;
        padding: 0 0 0 .25rem;
        width: 100%;
        height: .35rem;
        background: url('../images/red_ico.png') no-repeat 0 100%;
        background-size: .1rem .5rem;
      }
    }

  }
  .read_info {
    margin: .3rem 0 0 0;
    padding: .25rem .6rem .2rem .25rem;
    background-color: #ffffff;
    i{
      display: inline-block;
      width: .3rem;
      height: .3rem;
      background: url('../images/blue_ico.png') no-repeat;
      background-size: .3rem .3rem;
      vertical-align: top;
      &.active{
        display: inline-block;
        width: .3rem;
        height: .3rem;
        background: url('../images/duigou_1.png') no-repeat;
        background-size: .3rem .3rem;
        vertical-align: top;
      }
    }
    .content {
      display: inline-block;
      padding: 0 0 0 .1rem;
      font-size: .24rem;
      width: 93%;
    }
  }
  .bottom {
    position: fixed;
    bottom: 0;
    background: #ffffff;
    width: 100%;
    height: 1.18rem;
    padding: .18rem 0 0.2rem;
    .price_btn {
      display: inline-block;
      width: 100%;
      height: .8rem;
      vertical-align: bottom;
      padding: 0 .2rem 0 .4rem;
      .price {
        display: inline-block;
        width: 44%;
        text-align: left;
        color: #ed8a46;
        font-size: .48rem;
        line-height: .8rem;
      }
      .btn {
        display: inline-block;
        width: 53%;
        height: .8rem;
        line-height: .8rem;
        text-align: center;
        font-size: .36rem;
        vertical-align: top;
        color: #fff;
        background-color: #f05f46;
        border-radius: .1rem;
      }
    }
  }
}