#login{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  height: 100%;
  .banner{
    min-height: 1.8rem;
    background: url("../images/login_banner.png") no-repeat;
    background-size: 100% 100%;
    border:1px solid transparent;
    .p1,.p2{
      text-align: center;
      color: #fff;
    }
    .p1{
      font-size: .32rem;
      margin-top: 6%;
    }
    .p2{
      font-size: .26rem;
    }
  }
  .content{
    padding: .55rem .6rem;
    color: #969696;
    .sub_content{
      border-bottom: 1px solid #e88491;
      margin-bottom: .35rem;
      &:last-child{
        margin-bottom: 0;
      }

      input{
        border: none;
        outline: none;
        padding: .35rem 0 .35rem 1rem;
        font-size: .35rem;
        &.account{
          background: url('../images/account.png') left center no-repeat;
          background-size: .35rem .5rem;
        }
        &.password{
          background: url('../images/password.png') left center no-repeat;
          background-size: .34rem .4rem;
        }
      }
    }
    .forget_pwd{
      text-align: right;
      margin-bottom: 1rem;
      a{
        font-size: .25rem;
      }
    }
  }
  .login{
    text-align: center;
    margin-bottom: .5rem;
    a{
      font-size: .35rem;
      color: #fff;
      background-color: #f05e45;
      border-radius: 1rem;
      padding: .3rem 2.45rem;
    }
  }
  .prompt{
    text-align: center;
    color: #969696;
    font-size: .25rem;
    a{
      padding-bottom: .005rem;
      border-bottom: 1px solid #f05e45;
      color: #f05e45;
    }
  }
}