#success{
  .InputBox{
    width: 100%;
    padding:0 8.4%;
    li{
      border-bottom: 1px solid #e88491;
      margin-top: .52rem;
      padding: .33rem 0 .33rem 14%;
      input{
        border: none;
        width: 60%;
        height: .5rem;
      }
    }
    .phone{
      background: url("../images/man_icon.png") no-repeat center left;
      background-size: .36rem .4rem;
    }
    .icon_c{
      background: url("../images/icon_c.png") no-repeat center left;
      background-size: .35rem .38rem;
    }
  }
  .btnBox{
    text-align: center;
    .nextStep{
      width:5.6rem ;
      height:.82rem ;
      border-radius: .5rem;
      background:#f05e45 ;
      border: none;
      color:#ffffff;
      font-size:.32rem ;
      margin-top: .97rem;
    }
  }
}