<div ms-controller="header">
    <div class="container teaching_top clearFix" >
        <a class="logo" href="javascript:" name="loginLayer" ms-click="loginFun($event)"><img src="images/logo.png" alt="保险进校园"></a>
        <div class="title">
            <h2>青少年 第一人</h2>
            <h3>· 学生身边的安全伙伴 ·</h3>
        </div>
        <div class="top_right clearFix" >
            <div class="l">
                <span>关注我们</span>
                <a class="sina" href="http://weibo.com/qsndyr" target="_blank"><img src="images/sina.png" alt="新浪微博">&nbsp;</a>
                <a class="weixin" href="javascript:">&nbsp;<img src="images/weixin.png" alt="微信"></a>
                <img class="ewm" src="images/ewm.png">
            </div>
            <div class="r">
                <a class="login nos loginMun" ms-if="userInfo != null">
                    &nbsp&nbsp  {{userInfo.name}}
                    <ul class="login_ul loginMun">
                        <li class="loginMun" onclick="window.location='#result'">我的课程</li>
                        <li class="loginMun" name="logOut">退出</li>
                    </ul>
                </a>

                <div ms-if="userInfo == null">
                    <a class="login on" href="#!/login">学生登录</a>
                    <font>|</font>
                    <a class="login on" target="_blank" href="{{teacherSendURL}}">老师登录</a>
                </div>

            </div>
        </div>
    </div>
    <div class="navbox">
        <ul class="container wrap">
            <li><a ms-attr-href="'#!/home'"  ms-class="active:(menuState=='home'? 'active': '')">首页</a></li>
            <li id="courseNavboxLi" >
                <a href="#course" class="courseNavboxLi" ms-class="active:(menuState=='course'? 'active': '')">课程
                    <!--[if IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]>
                <table><tr><td>
                <![endif]-->
                <ul class="navbox_ul courseNavboxLi" class="courseNavboxLi">
                    <li class="courseNavboxLi"><a href="#safetyList">安全课程</a></li>
                    <li class="courseNavboxLi"><a href="#subjectList">专题课程</a></li>
                </ul>
                <!--[if lte IE 6]>
                </td></tr></table>
                </a>
                <![endif]-->
                <!--<ul class="navbox_ul courseNavboxLi" class="courseNavboxLi">-->
                <!--<li class="courseNavboxLi" onclick="window.location='#safetyList'">安全课程</li>-->
                <!--<li class="courseNavboxLi" onclick="window.location='#subjectList'">专题课程</li>-->
                <!--</ul>-->
                </a>
            </li>
            <li><a target="_blank" href="http://bz.qsndyr.com" >学安通</a></li>
            <li><a ms-attr-href="'#!/newList'" ms-class="active:(menuState=='news'? 'active': '')" >新闻动态</a></li>
            <li><a href="#natural" ms-class="active:(menuState=='natural'? 'active': '')">我们</a></li>
        </ul>
    </div>

    <div id="loginLayer">
        <img src="images/logins_bj.png" width="100%">
        <div class="cladding">
            <div class="header">
                <div class="but">
                    <a href="#login" name="close">学生登录</a>
                    <span class="bar"> | </span>
                    <a target="_blank" id="teacherSendURL" href="http://zh.qsndyr.com" name="close">老师登录</a>
                </div>
                <!--<a  class="close" name="close"><img src="images/close_login.png"></a>-->
            </div>
            <div class="quick">
                <h3 class="title">快速进入我的课程</h3>
                <a href="#result" class="course" name="close">我的课程</a>
                <a href="#subjectList" class="subject" name="close">专题课</a>
            </div>
        </div>
    </div>
</div>

<div ms-view=""></div>




