<div id="header" ms-controller="header">
    <div class="top">
        <!--<img src="images/header.jpg" alt=""/>-->
        <div class="topConcent">
            <span>全国统一客服：400-889-3311</span>
            <span class="rt" ms-if="!loginState">
                <a>欢迎来到君康人寿&nbsp&nbsp</a>
                <a href="http://180.168.96.36:8888/user/#!/login">登录&nbsp&nbsp|&nbsp&nbsp</a>
                <a href="http://180.168.96.36:8888/user/#!/register">注册</a>
            </span>
            <span class="rt" ms-if="loginState">
                <a>欢迎来到君康人寿&nbsp&nbsp</a>
                <a><i>您好，</i>{{nickName}}&nbsp&nbsp|&nbsp&nbsp</a>
                <a ms-on-click="exitSystem">退出</a>
            </span>
        </div>
    </div>
    <div class="bottom">
        <div class="floatBox"><a href="#!/home"><img src="images/jkLogo.png" alt=""/></a></div>
        <div class="bottomBox">
            <a href="#!/home">
                <span class="a_font" ms-class="{{headState=='home'?'font0':'font1'}}">首页</span>
                <img ms-class="{{headState=='home'?'font1':'font0'}}" src="images/header_i1.png" alt=""/>
            </a>
            <a href="#!/funHall">
                <span class="a_font" ms-class="{{headState=='funHall'?'font0':'font1'}}">服务大厅</span>
                <img ms-class="{{headState=='funHall'?'font1':'font0'}}" src="images/fuwudating.png" alt=""/>
            </a>
            <a href="#!/newsC">
                <span class="a_font" ms-class="{{headState=='newsC'?'font0':'font1'}}">新闻中心</span>
                <img ms-class="{{headState=='newsC'?'font1':'font0'}}" src="images/header_i2.png" alt=""/>
            </a>
            <a href="#!/inforDisc">
                <span class="a_font" ms-class="{{headState=='inforDisc'?'font0':'font1'}}">信息披露</span>
                <img  ms-class="{{headState=='inforDisc'?'font1':'font0'}}" src="images/header_i3.png" alt=""/>
            </a>
            <a href="#!/joinUs">
                <span class="a_font" ms-class="{{headState=='joinUs'?'font0':'font1'}}">人才招聘</span>
               <img ms-class="{{headState=='joinUs'?'font1':'font0'}}" src="images/header_i4.png" alt=""/>
            </a>
            <a href="#!/aboutUs/2">
                <span class="a_font" ms-class="{{headState=='aboutUs'?'font0':'font1'}}">关于我们</span>
                <img ms-class="{{headState=='aboutUs'?'font1':'font0'}}" src="images/header_i5.png" alt=""/>
            </a>
            <a ms-click="tabIcon">
                <span class="a_font font1" >会员中心</span>
                <img ms-class="{{headState=='vipCenter'?'font1':'font0'}}" src="images/crown.png" alt=""/>
            </a>
        </div>
    </div>
</div>
<div ms-view=""></div>
