<div id="aboutUs" ms-controller="aboutUs">
    <!--<div class="aboutUs_title">-->
        <!--关于我们-->
        <!--<a class="backT" ms-click="closeBtn">-->
            <!--<span class="backLogo"></span>-->
            <!--返回-->
        <!--</a>-->
    <!--</div>-->
    <div class="aboutUs_banner" ms-click="clearLocal"></div>
    <div class="aboutUs_content">
        <p class="aboutUs_con" style="text-indent: 0.7rem">
            君康人寿保险股份有限公司（简称“君康人寿”或“公司”）成立于2006年11月6日，是由中国保险监督管理委员会批准设立、在国家工商行政管理总局注册的全国性、股份制人寿保险公司。
        </p>
        <p class="aboutUs_con" style="margin-top: .3rem;">
            君康人寿业务范围包括：人寿保险、健康保险、意外伤害保险等各类人身保险业务，上述业务的再保险业务，国家法律、法规允许的保险资金运用业务，经中国保监会批准的其他业务。2015年8月，公司正式更名为君康人寿，并依托股东方在资金、经验和市场影响力等方面的显著优势，成功开启了一条创新开拓、专业发展之路。
        </p>
        <p class="aboutUs_con" style="text-indent: 0.7rem;margin-top: .3rem;">
            多年以来，君康人寿凭借雄厚的实力、规范的运作、优质的服务和极具市场竞争力的保险产品，实现了公司业务快速稳健发展。2012年，公司规模保费突破100亿；2015年公司规模保费突破200亿；截至2016年9月底，公司规模保费达267.64亿元，市场份额排名寿险行业前20强。
            目前，公司在北京、上海、江苏、浙江、黑龙江等地设立分公司，拥有19家中心支公司，公司内外勤人数近2000人。
            2016年以来，恰逢保险业“十三五”规划纲要正式颁布，保险业将实现全面高速发展。君康人寿认真落实监管纲要精神要求，牢牢把握行业发展机遇，提出了“保持规模、优化结构、突出期交”的业务发展方向；大力推动个险业务、团体短险业务、多元经代业务及新型健康业务的创新发展思路，进一步优化结构、提升业务品质，加快公司业务转型，推动公司持续健康快速
            <span ms-click="alertOpenid">发展。</span>
        </p>
    </div>
</div>