.middle_banner{ width: 100%;}
.middle_banner img{width:100%;}

.apply_process{ padding:50px 70px 68px; color:#000; background: #f7f6f6; margin-bottom: 52px;}
.apply_process h3{ font-size: 26px;  padding-bottom: 18px; text-align: center;}
.apply_process span{ font-size: 18px;  padding-bottom: 50px; text-align: center; display: block;}
.apply_process p{ font-size: 16px;  line-height: 30px;text-align: justify;}
.apply_process ol li{ line-height: 30px; font-size: 16px; text-align: justify;}














































