.middle_banner{ width: 100%;}
.middle_banner img{width:100%;  }

.apply_process{ padding:50px 104px 44px; color:#000; background: #f7f6f6; margin-bottom: 52px;}
.apply_process h3{ font-size: 26px;  padding-bottom: 18px; text-align: center;}
.apply_process span{ font-size: 18px;  padding-bottom: 50px; text-align: center; display: block;}
.apply_process ol li{ line-height: 30px; font-size: 16px; text-align: justify;}
.apply_process img{ margin: 40px 248px 70px;}
.accessory_box{ padding-top: 70px;}
.apply_process .accessory_box a{ background: url("../images/word.png") no-repeat left center; display: block; padding-left: 56px; font-size: 18px; margin-bottom: 10px; height: 41px; line-height: 41px; color:#000; font-weight: bold;}












































