html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0; /*line-height: 100%;*/}
header,footer,section,article,aside,nav,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr,button{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style-type:none;}
body,h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:pointer;}
a,button{cursor:pointer;}
/* h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;} */
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
input[type="submit"]{ border: none; cursor:pointer;}
//body{width: 100%; font-family:'微软雅黑','黑体',"宋体",Arial,sans-serif; background:#fff;}


@font-face {
  //font-family: '方正兰亭细黑_GBK';
  //src: url('../Fonts/GBK.TTF'); /* IE9 Compat Modes */
  //src: url('../Fonts/GBK.TTF?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //url('../Fonts/GBK.TTF') format('woff'),/* Modern Browsers */
  //url('../Fonts/GBK.TTF#方正兰亭细黑_GBK') format('svg');//.SVG，适用于Chrome、IPhone。
  font-family: '方正兰亭细黑_GBK';
  src: url("../Fonts/GBK.TTF");
  src:url('../Fonts/GBK.TTF') format('truetype'), //.TTF或.OTF，适用于Firefox 3.5、Safari、Opera
  url('../Fonts/GBK.TTF?#iefix') format('embedded-opentype'),//.EOT，适用于Internet Explorer 4.0+
  url('../Fonts/GBK.TTF#方正兰亭细黑_GBK') format('svg');//.SVG，适用于Chrome、IPhone。
}

body{
  width: 100%;
  background:#fff;
  min-width: 1280px;
  font-family: '方正兰亭细黑_GBK';
}
*:focus{ outline: none;}
*,*:after,*:before{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}
$mediaType: screen;
$mediaName: max-width;
$mediaValue1024: 1024px;
@media #{$mediaType} and ($mediaName: $mediaValue1024){
  body,html{
    min-width: 1024px;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1000px){
  body{
    overflow-x: auto;
  }
}
