.middle_banner{ width: 100%;}
.middle_banner img{width:100%;  }

.apply_process{ padding:50px 70px 80px; color:#000; background: #f7f6f6; margin-bottom: 52px;}
.apply_process h3{ font-size: 26px; text-align: center; }
.apply_process h4{ font-size: 18px; line-height: 34px; padding-top: 26px; font-weight: 500;}
.apply_process p{ font-size: 18px; color:#666; line-height: 24px;}
.apply_process img{ margin: 60px 248px 30px;}
.apply_process .accessory{background: url("../images/pdf.png") no-repeat 6px center; display: block; padding-left: 52px; font-size: 16px; height: 41px; line-height: 41px; color:#666; margin-top: 6px;}













































