<div ms-controller="registerPro" id="registerPro">
    <p class="first">
        任何人士使用本网站前，请仔细阅读本服务条款。若不同意遵守下述的任何条款或者对于条款有任何的保留，请勿使用本网站。您进入本网站及浏览任何网页，即表示同意遵守本服务条款。因本网站的扩展或者服务深化，本协议可能会不时更新，请予以关注，您同时认可更新的协议对您的约束力。
    </p>
    <p>第一条 本网站说明</p>
    <p class="sub">
        本网站内容（包括但不限于本网站所发布的信息、资料等内容）或服务由君康人寿保险股份有限公司（以下简称"本公司"）提供。在本服务条款中，“本公司”统称为“君康人寿”。
    </p>
    <p>第二条 网站内容和服务的使用</p>
    <p class="sub">
        （一）使用本网站，不得将本网站所提供的内容或服务，用于任何不合法的目的，或从事任何可能损害君康人寿声誉和利益的事宜，或以任何不符合本服务条款的方式使用该等内容或服务。<br/>
        （二）本网站只在法律允许的国家中提供本网站所述的内容及服务。本网站所发布的内容或服务无意提供给受法律限制的国家的人士或居民使用。<br/>
        （三）本网站的内容或服务不应视为专业人士意见。使用本网站的用户应在有需要时寻求专业人士建议。在任何情况下，君康人寿对于任何人士依赖本网站的内容或服务而做出的决定或采取的行动不承担任何责任。
    </p>
    <p>第三条 权利声明</p>
    <p class="sub">
        （一）本网站所载述的域名、商号、商标、文字、信息、版面设计、图形、图案、图像、声音、流程、程序及其他内容资料均受著作权法以及其他有关法律、法规、规范性法律文件及相关国际条约的保护，除另有声明外，其包括著作权在内的所有权利均由君康人寿享有并保留。除非本服务条款中另有规定，未经君康人寿事先书面同意，任何单位或者个人均不得对于本网站中所载述的域名、商号、商标、文字、信息、版面设计、图形、图案、图像、声音、流程、程序及其他内容资料进行任何的修改、复制、储存于检索系统、传送、抄袭、分发，转载或用于任何商业或公开用途。<br/>
        （二）不得利用本网站进行违法犯罪、危害国家安全、泄露国家秘密、侵犯他人合法权益的活动并不得利用本网站制作、复制和传播下列信息：<br/>
        1、煽动抗拒、破坏宪法和法律、行政法规实施的；<br/>
        2、煽动颠覆国家政权，推翻社会主义制度的；<br/>
        3、煽动分裂国家、破坏国家统一的；<br/>
        4、煽动民族仇恨、民族歧视，破坏民族团结的；<br/>
        5、捏造或者歪曲事实，散布谣言，扰乱社会秩序的；<br/>
        6、宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；<br/>
        7、公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；<br/>
        8、侵犯任何个人或实体的隐私、肖像权、版权、商标权、合同权利或其他任何合法权利的；<br/>
        9、损害国家机关信誉的；<br/>
        10、含有病毒的；<br/>
        11、含有商业广告的；<br/>
        12、其他违反宪法、法律或行政法规的信息。<br/>
        （三）任何对上述权利的侵犯均有可能导致相关单位或者个人依照法律规定承担相应的民事、行政或刑事责任。<br/>
        （四）在同时遵守如下条件的情况下，除非网站中明确说明该内容禁止转载，单位和个人可以将网站中的内容进行转载：<br/>
        1、必须将内容进行整体转载，不得破坏转载内容的整体性和完整性；<br/>
        2、转载时应当注明内容来源，在显著位置标注“来源：[君康人寿网站www.jklife.com ]”；<br/>
        3、确保内容的转载或使用不会损害君康人寿的声誉或者利益；<br/>
        4、同意并且确认：君康人寿可以在任何情况下要求转载的单位或者个人删除转载内容或者断开其链接，而无须说明理由，且转载者应立即执行。<br/>

    </p>
    <p>第四条 隐私权保护</p>
    <p class="sub">
        君康人寿郑重承诺，未经用户同意，本网站不会搜集任何用户的资料。如因服务需要，通过本网站获得和掌握的用户电子邮件、填报资料等涉及个人隐私的信息，君康人寿将予以严格保密并不向任何君康人寿以外的第三方透露和提供。但下列情况除外：<br/>
        （一）事先获得用户的明确授权；<br/>
        （二）根据有关法律法规的要求；<br/>
        （三）依据法院或仲裁机构的裁判或裁决，以及其他司法程序的要求；<br/>
        （四）应相关政府部门或监管机构的要求；<br/>
        （五）用户违反本服务条款或有其他损害君康人寿利益的行为。

    </p>
    <p>第五条 用户的权利及义务</p>
    <p class="sub">
        （一）提供准确的个人资料，如个人资料有任何变动，必须及时更新；<br/>
        （二）允许君康人寿不定时向您的邮箱发送信息；<br/>
        （三）用户对所申请的帐号和密码安全负全部责任；<br/>
        （四）用户对该帐户中的所有活动和事件负全部责任；<br/>
        （五）用户单独承担传输内容的责任。

    </p>
    <p>第六条 免责声明</p>
    <p class="sub">
        （一）对本网站的内容或服务，君康人寿不提供任何形式的明示或默示的关于内容或服务的正确性、及时性、有效性、稳定性、可用性等方面的保证；君康人寿不保证网站服务器及网络的稳定性，不保证本网站在任何时候均可供浏览、阅读和使用；可随时更改本网站的内容或服务，但并不保证在内容或服务变化时及时作更新通知。<br/>
        （二）任何单位或个人认为本网站上的内容或服务可能涉嫌侵犯其信息网络传播权或者其他合法权利，应该及时向本公司提出书面权利通知，并提供身份证明、权属证明、具体链接（URL）及详细侵权情况证明。本公司在收到上述法律文件后，将会依法尽快移除相关涉嫌侵权的内容或服务。<br/>
        （三）君康人寿不就任何信息传递或传送的失误、不准确或错误，对任何人士负任何直接或间接的责任。在法律允许的范围内，君康人寿不承担任何人士就使用或未能使用本网站所提供的内容或服务所引致的任何直接、间接、附带、从属、特殊、惩罚性或惩戒性的损害赔偿（包括但不限于收益、预期利润的损失、失去的业务、信息数据丢失和财产毁坏等损失）。<br/>
        （四）关于本网站中涉及的与君康人寿产品、客户服务、销售等有关的内容，如产品目录及险种描述、合同及保单样本、网点位置、代理人分布及设置、服务电话等，仅为向用户初步介绍产品或者服务的目的，不构成向任何人士的要约邀请和/或要约，具体产品或者服务的内容请以正式合同、承诺、约定为准。本网站所载相关内容不表示君康人寿对上述的产品、实际保险服务过程、流程或合同内容以及有关信息的真实性、准确性、及时性作出任何的明示或者暗示的保证或承诺，君康人寿不因此履行任何的义务或承担任何的责任。

    </p>
    <p>第七条 链接政策</p>
    <p class="sub">
        （一）对于任何第三方建立的、与本网站的链接，君康人寿不负任何形式的责任。任何此种形式的链接并不代表该第三方与君康人寿之间有任何形式的合作、或已经得到君康人寿的认可。因而，对于用户或者任何第三方由于使用这种链接所可能招致的任何损失或伤害，君康人寿不承担任何责任。<br/>
        （二）在某些情况下，本公司会在本网站上，提供与互联网上其它网站的网站链接。被链接的网站可能是由与君康人寿无关的第三方开设的。提供与这些网站的链接，目的在于帮助用户收集相关信息并增加用户使用互联网的经验或者便利。本公司尽最大努力为用户选择那些享有良好声誉的站点和信息来源。但是，提供与外部网站的网站链接，并不代表君康人寿认可、推荐、批准或介绍任何第三方、或其提供的服务或产品。<br/>
        （三）对于任何外部链接的网站、或与本网站链接的网页，君康人寿不承担其内容或使用上的任何法律责任。

    </p>
    <p>第八条 法律适用</p>
    <p class="sub">
        由于本网站内容导致的一切诉讼或争议均适用中华人民共和国法律。若用户和君康人寿就此发生任何纠纷或争议，首先应友好协商解决，协商不成的，任何一方均可将纠纷或者争议提交北京仲裁委员会，按照该会届时有效的仲裁规则进行仲裁，仲裁裁决是终局的，对双方均有法律约束力。 本服务条款符合中华人民共和国法律，该服务条款解释权由本公司完全享有。

    </p>
</div>